//Less Hat mixin library
@import "../lib/lesshat.less";

@brand-primary: #21528a;
@brand-secondary: #FFA500;
@darken: rgba(0,0,0,0.3);

@button-secondary: #eee;
@button-secondary-text: #555;
@button-primary: darken(@brand-primary, 10%);
@button-primary-text: #fff;

@gray-text: #bbb;
@light-text: #eee;

@outline: #ccc;

@font-normal: 1rem;
@font-small: 0.9rem;
@font-large: 1.2rem;

@component-large: 41rem;